<html>
    <head>
        <title>
            <%= locals.title %>
        </title>

    </head>

    <body>
        <%- include('_header'); %>
        <!-- varaible part body is already defined -->
        <%- body %>

        <%- include('_footer'); %>

    </body>
</html>